:root {
    /*
        -----------
        # Reset.css
        -----------
    */

    /* Default: hsla(0, 0%, 0%, 1) */
    --caret-color:;

    /* Default: Arial, Helvetica, sans-serif */
    --font-family: sans-serif;

    /* Default: hsla(0, 100%, 69%, 1) */
    --out-of-range:;

    /* Default: hsla(0, 0%, 100%, 1) */
    --selection-color:;

    /* Default: hsla(0, 0%, 40%, 1) */
    --selection-bg-color:;

    /* Default: hsla(0, 0%, 40%, 1) */
    --progress-color-bar:;

    --color-secundary: #2b82a4;
}